<html>
  <head></head>
  <body>
    <h1>Artists</h1>
    <div>
      <% @artists.map do |artist| %>
       <div>
       <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
       </div>
      <% end %>
    </div>
  </body>
</html>