
    <h1>Add an album</h1>
    <form action="/albums" method="POST">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="release_year" placeholder="Release year">
      <input type="text" name="artist_id" placeholder="Artist id">

      <input type="submit" value="Submit the form">
    </form>
 